
html{
  background-color: 
  black;
}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 90px;
  }
  
  input[type="password"], select {
    width: 300S%;
    padding: 17px 17px;
    margin: 9px  0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 400px;
    box-sizing: border-box;
  }
  input[type="id"], select {
    width: 100%;
    padding: 17px 20px;
    margin: 20px  0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 400px;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 6px  0;
    border: none;

    cursor: pointer;
  }
 
  input[type=submit]:hover {
    background-color: gray;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 90px;
  }

  a:link {
    background: white ;
    color: burlywood;
    padding :20px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:2px solid purple
  }
  p{
    text-align: center;
  }